<section class="flashcard">
@if (Flashcard != null)
{
	@if (!string.IsNullOrEmpty(Flashcard.ImageUrl))
	{
		<img src="@Flashcard.ImageUrl" alt="@Flashcard.Answer" class="flashcard-image" 
			@onclick="ShowAnswer" hasAnswer=@(!string.IsNullOrEmpty(Flashcard.Answer)) />		
	}
	@if(!string.IsNullOrEmpty(Flashcard.QuestionText)){
		<div class="flashcard-questiontext" @onclick="ShowAnswer" 
				hasAnswer=@(!string.IsNullOrEmpty(Flashcard.Answer))>@Flashcard.QuestionText</div>
	}
	<h2 class="flashcard-answer" hidden="@(!(Flashcard.ShowText || ShowText))">@Flashcard.Answer</h2>
}
else
{
	<span>error</span>
}
</section>


@code {
	private SayedHa.Flashcards.Shared.Flashcard _flashcard;
	[Parameter]
	public SayedHa.Flashcards.Shared.Flashcard Flashcard {
		get
		{
			return _flashcard;
		}
		set
		{
			_flashcard = value;
			ShowText = false;
		}
	}

	public bool ShowText { get; set; }

	private void ShowAnswer(){
		ShowText = true;
	}
}
